<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
    <div id="mail_text" >
        <!--Image link for development only... Change in production!-->
        <img src="http://ipic.su/img/img7/fs/background.1449587627.jpg" style="width: 35%;" >
        <table style="z-index: 1; position: relative;top: -200px;left: 245px;">
            <tr>
                <td>Кому: <b>{{name}}</b></td>
            </tr>
            <tr>
                <td>Куда: <b>{{address}}</b></td>
            </tr>
            <tr>
                <td>Индекс: <b>{{post_index}}</b></td>
            </tr>
        </table>
    </div>
</body>
</html>